<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="main.css">-->
    </head>
    <body>
        <nav class="navbar navbar-default">
    <div class="container-fluid">
        
        <div class="navbar-header">
        <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        <!--<div class="collapse navbar-collapse">-->
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
                <% } else { %>
                <li>Signed in as <%= currentUser.username %></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>



