<% include partials/header %>

<h1><%= message %></h1>

<h1>This is the login page </h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>