<% include partials/header %>
<h1>SIGN UP!!!!!!!!!!</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form>