<% include ../partials/header %>

<h1 style="text-align: center">Edit <%= campground.name %></h1>
<div class="container">
    <div class="row">
        <div style="margin: 25px auto">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
            <div class="form-group">
    <input class="form-control" type="text" name="campground[name]" placeholder="name" value="<%= campground.name %>">
    </div>
    <div class="form-group">
    <input class="form-control" type="text" name="campground[image]" placeholder="image url" value="<%= campground.image %>">
    </div>
    <div class="form-group">
    <input class="form-control" type="text" name="campground[description]" placeholder="description" value="<%= campground.description %>">
    </div>
    <div class="form-group">
        <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
    </div>
</form>
<a href="/campgrounds">Go Back</a>
        </div>
    </div>
    
</div>
<% include ../partials/footer %>