<% include ../partials/header %>

<div class="container">
        <header class="jumbotron">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our handpicked campgrounds from around the world!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
            </p>
            </header>
    
        <div class="row text-center" style="display:flex; flex-wrap: wrap">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                    <img class="img-fluid" src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
        </div>
        </div>
<% include ../partials/footer %>