<% include ../partials/header %>
<div class="container">
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= campground.image %>" width="460" height="345">
            <div class="caption-full">
                <hr>
                <h4><%= campground.name %></h4>
                <hr>
                <p><%= campground.description %></p>
                <p>
                    <em>Submitted by <%= campground.author.username %></em>
                    </p>
                    
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form id="delete-button" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
            </div>
            <hr>
        </div>
        <div class="well">
            <div><a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a></div>
        </div>
        <hr>
        <% campground.comments.forEach(function(comment){ %>
        <div style="background: #D8E1E3">
            <strong><%= comment.author.username %></strong>
            <span style="text-align: right">10 days ago</span>
            <p><%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <a class="btn-warning btn-sm" 
            href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                Edit
            </a>
            
            <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <input type="Submit" class="btn-danger btn-sm" value="Delete">
            </form>
            <% } %>
        </div>
        
        <% }) %>
    </div>
    </div>


   
    